 <div class="d-flex justify-content-center">
  <div class="rounded border-custom px-5 pt-1 pb-2 my-3 display-3" style="color: rgb(186, 161, 174, 1); background-color: black;">&nbsp;<%=@user.username%>&nbsp;</div>
 </div>
<div class="ml-3">
 <h1 class="mb-3 text-dark font-weight-bold"><u>Profile Page</u></h1>
  <a href="/users" class="btn-hover rounded mr-1 btn btn-lg btn-primary font-weight-bold">View User Index</a>
</div>



  <div class="row mt-3 mr-3 ml-3 py-3 border-custom">

    <div class="col-md">
      <div class="d-inline-flex p-2 rounded mb-3 bg-dark text-light h5">User Info</div>
          <h6>User Name: <strong><%=@user.username%></strong></h6>
          <h6>User Email: <strong><%=@user.email%></strong></h6>
          <h6>User Slug: <strong><%=@user.slug%></strong></h6>

     <div class="d-inline-flex p-2 rounded mt-3 mb-3 bg-primary text-light h5">Favorite Exercises</div>
     <div class="list-group mr-5">
       <% @user.exercise_instances.group(:exercise).average(:exercise_rating).sort_by {|k,v| v}.reverse.take(3).each do |array|%>
               <a href="/exercises/<%= array[0].slug %>" class="list-group-item p-3 list-group-item-action list-group-item-primary">
                 <h5><strong><%= array[0].name %></strong></h5>
                 <h6> <%= @user.username.capitalize %>'s Average Rating: <strong><%= array[1].to_i %>/5</strong></h6>
               </a>
       <% end %>
     </div>

    </div>

    <div class="col-md">
      <div class="d-inline-flex p-2 rounded mb-3 bg-light text-dark font-weight-bold h5">Shared Workouts</div>
        <div class="list-group">
          <% @user.workouts.where(share_status: true).order(created_at: :desc).each.with_index do |workout, i|%>
                  <a href="/workouts/<%= workout.id %>" class="list-group-item p-3 list-group-item-action"><%=i+1%>. &nbsp;<%= workout.created_at.in_time_zone("America/Los_Angeles").strftime("%A - %m/%d/%Y - %l:%M %p") %></a>
          <% end %>
        </div>
    </div>

    <div class="col-md">
      <div class="d-inline-flex p-2 rounded mb-3 bg-secondary text-light h5">Private Workouts</div>
       <% if authorized_to_view_private?  %>
        <div class="list-group">
         <% @user.workouts.where(share_status: false).order(created_at: :desc).each.with_index do |workout, i|%>
                 <a href="/workouts/<%= workout.id %>" class="list-group-item p-3 list-group-item-action list-group-item-dark"><%=i+1%>. &nbsp;<%= workout.created_at.in_time_zone("America/Los_Angeles").strftime("%A - %m/%d/%Y - %l:%M %p") %></a>
         <% end %>
        </div>
       <% else %>
       <div class="d-inline-flex">
        <div class="d-block rounded p-1 pt-3" style="color: #BAA1AE; background-color: black;">
          <p>To View, Login as: <strong><u><%= @user.username %></u></strong></p>
          <p>Currently Logged In as: <strong><u><%= current_user.username %></u></strong></p>
        </div>
       </div>
       <% end %>
    </div>

  </div>
